@page
@using RazorPagesEventMaker_Chapter13
@inject IEventRepository  repository
@model RazorPagesEventMaker_Chapter13.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>List of events </h1>
<p>
    <a asp-page="CreateEvent">Create New</a>
</p>
<div>
    <ul>
        <li> There are @repository.GetAllEvents().Count events</li>
    </ul>
</div>
<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                City
            </th>
            <th>
                DateTime
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.City
                </td>
                <td>
                    @item.DateTime
                </td>
                <td>
                    <a asp-page="EditEvent" asp-route-id="@item.Id">Edit</a>|
                    <a asp-page="DetailEvent" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="DeleteEvent" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


